.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    padding-bottom: 40px;
}
header{
    background-color: cornflowerblue;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.carousel{
    padding: 0px;
}
.container{
    background-color: steelblue;
    padding: px;
}

.nav-link{
    color:white;
    font-size:  larger;
}
.row img{
    padding-bottom: 10px;
    width: 360px;
    height: 360px;
}

.card{
    margin-bottom: 40px;
}

